.poke-container{
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
  margin-bottom: 40px;
}

.type{
  margin-right: 5px;
}

.type-img{
  width: 20px;
  margin-right: 10px;
}